#Main{
  font-family: 'Montserrat', serif;
  font-weight: normal;
}
#account {
  padding-top: 5%;
  padding-right: 2%;
}
#account {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
#account:hover{
  transform: rotate(1turn);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
.header-logo{
  margin: 0px 0px;
}
.App-logo{
  padding-inline: 5%;
}
.App-logo{
  transition: transform ease 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
}
.App-logo:hover{
  transform: scale(1.5, 1.5);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;

}
.header{
  /*background-image: url(фон.png);*/
  margin: 5% 20%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-kat{
  display: flex;
  align-items: center;
}
.kat{
  color:black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  margin-right: 2%;
  margin-left: 2%;
}
.kat:hover{
  color: #ff7700;
  transition: color 1s inherit;
}
.lkarea:hover{
  color: #ff7700;
  transition: color 0.15s linear;
}
.lkarea{
  display: inline-flex;
  color:black;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;
  margin-right: 2%;
  margin-left: 2%;
}
.App{
  text-align: center;
}