@font-face {
  font-family: 'Luxo';
  src: url('Luxo.ttf');
}
.App-logo{
  font-family: 'Luxo', sans-serif;
  text-decoration: none;
  color: navajowhite;
  font-size: xx-large;
}

.App-logo p{
  transition: transform ease 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
  display: inline-flex;
}

.App-logo p:hover{
  transform: scale(1.75, 1.75);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.4s;
}
.Header{
  display: flex;
  align-items: center;
  margin:3% 15%;
  justify-content:space-around;
}

.HeaderEl{
  color:black;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  justify-content: space-evenly;
}
.HeaderEl:hover{
  color: #ffdead;
  transition: color 1s inherit;
}
.AccountButton:hover{
  color: white;
  transition: color 0.15s linear;

}
.AccountButton{
  display:inline-flex;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.App{
  text-align: center;
}
.Account {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
  width: 107%;
  height: 107%;
  filter: brightness(0);
}
.AccountLink {
  overflow: hidden;
  justify-content:space-around;
  text-decoration: none;
}
.AccountLink:hover img{
  transform: rotate(1turn);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
  filter: brightness(100%);
}

.Dropdown {}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 15%;
  min-width: 100px;
  box-shadow: 0px 4px 16px 0px #e8e8e8;
}

.DropdownContent a {
  color: black;
  padding: 10% 10%;
  text-decoration: none;
  display: block;
}

.DropdownContent a:hover {color: #ffdead;}
.Dropdown:hover .DropdownContent {
  display: block;
}

.container{
  width: 1000px;
  margin: 30px auto 0;
}

.header_row{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header_content{
  position: absolute;
  width: 550px;
  height: 150px;
  left: 0;
  top: 40%;
  transform: translateY(-70%);
  background-color: #ffdead;
}

.header_title{
  margin: 0 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 76px;
}

.header_text{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.button {
  padding: 11px 33px 14px;
  display: inline-block;
  position: absolute;
  background: #ffdead;
  border-radius: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  color: black;
  text-decoration: none;
}

.section-blog{
  paddding-top:90px;
  padding-bottom: 45px;
  text-align: center;
}

.section-header{
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: #add8e6;
  border-radius: 7px;
}

.post{
  margin-top: 30px;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
}

.posts-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post_img{
  border-radius: 7px;
}

.post_content{
  max-width: 300px;
  text-align: left;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post_title{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.post_text{
  margin: 0 0 10px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #777777;
}

.post_read-more{
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
.foot{
  background: #ffdead;
  color: white;
  display: flex;
  flex-direction: row;
}
.foot-top{
  flex-direction: row;
  width: 80%;
  height: 80%;
  padding: 5% 5%;
}
ul{
  display: block;
  list-style-type: disc;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:white;
}
li{
  list-style-type: none;
  margin-top: 15%;
}
.Google-play{
  padding-left: 2%;
}
h4{
  text-decoration: underline;
}
