#Main{
  font-family: 'Montserrat', serif;
  font-weight: normal;
}
#account {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
  width: auto;
}
.App-logo{
  transition: transform ease 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
  font-family: 'Nabla',serif;
  text-decoration: none;
  font-size: xxx-large;
}
.App-logo:hover{
  transform: scale(1.5, 1.5);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
.header{
  display: flex;
  align-items: center;
  margin:3% 15%;
  justify-content:space-around;
}

.kat{
  color:black;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  justify-content: space-evenly;
}
.kat:hover{
  color: #ffdead;
  transition: color 1s inherit;
}
.lkarea:hover{
  color: white;
  transition: color 0.15s linear;

}
.lkarea{
  display:inline-flex;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;

  color: black;
}
.App{
  text-align: center;
}

.lkramka {
  border-radius:25px;
  border: 2px solid #ffdead;
  overflow: hidden;
  justify-content:space-around;
  text-decoration: none;
}
.lkramka img {
  float: left;
}
.lkramka p{
  overflow-wrap: normal;
  padding: 4px;
  display: block;
  font-weight:bold;
  font-size: xxx-small;
  margin-left:10%;
}
.lkramka:hover{
  background-color: #ffdead;
}
.lkramka:hover img{
  transform: rotate(1turn);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
.lkramka:hover .lkarea{
  color:white;
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px darkgrey;
}

.dropdown-content a {
  color: black;
  padding: 10% 10%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #ffdead;}
.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.header_row{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header_content{
  position: absolute;
  width: 550px;
  height: 150px;
  left: 0;
  top: 40%;
  transform: translateY(-70%);
  background-color: #ffdead;
}

.header_title{
  margin:0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 76px;
}

.header_text{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.button {
  padding: 11px 33px 14px;
  display: inline-block;
  position: absolute;
  background: #ffdead;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  color: black;
  text-decoration: none;
}

.section-blog{
  paddding-top:90px;
  padding-bottom: 45px;
  text-align: center;
}

.section-header_title{
  margin 0;
  margin-bottom: 10px;
}

.post{
  margin-top: 30px;
  max-width: 570px;
  display: flex;
  justify-content: space-between;
}

.post_img{

}

.post_content{
  max-width: 370px;
}

.post_title{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.post_text{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #777777;
}

.post_read-more{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}