#Main{
  font-family: 'Montserrat', serif;
  font-weight: normal;
}
#account {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
  width: auto;
}
.App-logo{
  transition: transform ease 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
  font-family: 'Nabla',serif;
  text-decoration: none;
  font-size: xx-large;
}
.App-logo:hover{
  transform: scale(1.5, 1.5);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
.header{
  display: flex;
  align-items: center;
  margin:3% 15%;
  justify-content:space-around;
}

.kat{
  color:black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  justify-content: space-evenly;
}
.kat:hover{
  color: #ff7700;
  transition: color 1s inherit;
}
.lkarea:hover{
  color: white;
  transition: color 0.15s linear;

}
.lkarea{
  display:inline-flex;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;

  color: black;
}
.App{
  text-align: center;
}

.lkramka {
  border-radius:25px;
  border: 2px solid #ff7700;
  overflow: hidden;
  justify-content:space-around;
  text-decoration: none;
}
.lkramka img {
  float: left;
}
.lkramka p{
  overflow-wrap: normal;
  padding: 4px;
  display: block;
  font-weight:bold;
  font-size: xxx-small;
  margin-left:10%;
}
.lkramka:hover{
  background-color: #ff7700;
}
.lkramka:hover img{
  transform: rotate(1turn);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform ease 0.6s;
}
.lkramka:hover .lkarea{
  color:white;
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px darkgrey;
}

.dropdown-content a {
  color: black;
  padding: 10% 10%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #ff7700;}
.dropdown:hover .dropdown-content {
  display: block;

}